@use '../styles/mixins' as *;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  button {
    border: none;
    background-color: transparent;
    color: $colorPrimaryMed;
  }

  img {
    object-fit: contain;
    height: 14px;
  }
}

.inputContainer {
  display: flex;
  position: relative;
  min-height: 38px;

  .prependComponentContainer,
  .appendComponentContainer {
    position: absolute;
    height: 100%;
    display: flex;
    gap: 4px;
    padding: 0 12px;
    align-items: center;
  }
  .prependComponentContainer {
    left: 0;
  }
  .appendComponentContainer {
    right: 0;
  }

  .loader {
    position: absolute;
    right: 10px;
    transform: translateY(35%);
    width: unset;
    height: unset;
  }

  .inputError {
    border-color: $colorErrorDark;
  }
}

.label {

}
